@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
  height: 100dvh;
}

#side-bar-toggle:checked + .side-nav-toggle-target {
  @apply w-0 sm:w-[240px] md:w-[360px];
}
.side-nav-toggle-button {
  left: calc(100% - 40px);
}
#side-bar-toggle:checked + .side-nav-toggle-target .side-nav-toggle-button {
  @apply left-2;
}

#new-chat-toggle:checked + .new-chat-toggle-target {
  @apply w-0 flex-none p-0 border-none m-0;
}
#new-chat-toggle:checked ~ .new-chat-toggle-target-2 {
  @apply mr-12 sm:mr-2 ml-0 flex-1 daisy-input daisy-input-sm daisy-input-bordered;
}

#new-chat-toggle:checked ~ .new-chat-toggle-button {
  @apply mr-2;
}

.chat-item-border {
  border-top-right-radius: var(--rounded-box, 0.5rem);
  border-bottom-right-radius: var(--rounded-box, 0.5rem);
}
.chat-item-border:nth-last-child(2) {
  border-bottom-left-radius: var(--rounded-box, 0.5rem);
}

.chat-item-border:hover + span {
  height: 16px;
}

.chat-item-border-self {
  border-top-left-radius: var(--rounded-box, 0.5rem);
  border-bottom-left-radius: var(--rounded-box, 0.5rem);
}
.chat-item-border-self:nth-last-child(2) {
  border-bottom-right-radius: var(--rounded-box, 0.5rem);
}

.chat-item-border-self:hover + span {
  height: 16px;
}

.daisy-rounded {
  border-radius: var(--rounded-box, 0.5rem);
}